@import '../../../styles-variables';

/deep/ mat-card{

  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;

  display:grid;
  width: max-content;
}

.title{
  max-width: 700px;
}

.center{
  width: fit-content;
  margin: auto;
  margin-bottom: 15px;
}

.marginTop{

  margin-top:20 px !important;
}

.paddingLR{
  padding-left: 10px;
  padding-right: 10px;
}

.space{
  margin-left:10px;
  margin-right:10px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.font20{
  font-size: 20px;
  width: fit-content;
  margin: auto;
}

.marginBottomTop{
  margin-bottom: 10px;
  margin-top:10px
}

.paddingB{
  padding-bottom: 10px;
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .center{
    width: 100%;
    margin: 0 px;
  }

  /deep/ mat-card{
    width: 100%;
    margin-left: 0 px;
    margin-right: 0 px;

  }
  /deep/ mat-card::-webkit-scrollbar {
    display: none;
  }
}
